<%= form_for @comic do |form| %>
  <% if @comic.errors.any? %>
    <div id='error_explanation'>
      <h2>
        <%= pluralize(@comic.errors.count, 'error') %>
        prohibited this article from being saved:
      </h2>
      <ul>
        <% @comic.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <%= form.label :issue %>
    <%= form.text_field :issue%>
  </p>
  <%= form.fields_for @author do |f| %>
    <p>
      <%= f.label :author%><br>
      <%= f.text_field :name %>
    </p>
  <% end %>
  <%= form.fields_for @artist do |f| %>
    <p>
    <%= f.label :artist %><br>
    <%= f.text_field :name %>
    </p>
  <% end %>
  <%= form.fields_for @editor do |f| %>
    <p>
      <%= f.label :editor%><br>
      <%= f.text_field :name %>
    </p>
  <% end %>
  <p>
    <%= form.submit %>
  </p>
<% end %>