<%= link_to  "New Comics?", new_comic_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Issue Number</th>
    <th></th>
  </tr>

  <% @comics.each do |comic| %>
    <tr>
      <td><%= comic.title %></td>
      <td><%= comic.issue %></td>
      <td><%= link_to 'Show', comic_path(comic)%></td>
      <td><%= link_to 'Edit', edit_comic_path(comic)%></td>
      <td>
        <%= link_to 'Destroy', comic_path(comic),
          method: :delete,
          data: { confirm: 'Are you sure you want to delete this item?'}
        %>
      </td>
    </tr>
  <% end %>
</table>