<p>
  <strong>Title:</strong>
  <%= @comic.title %>
  <strong>Issue:</strong>
  <%= @comic.issue %>
</p>
<p>
  <strong>Author:</strong>
  <%= @author.name %>
</p>
<p>
  <strong>Artist:</strong>
  <%= @artist.name %>
</p>
<p>
  <strong>Editor:</strong>
  <%= @editor.name %>
</p>